<div class="page-header">
  <h1>User Info</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">My Account</h3>
      </div>

      <div class="panel-body">
        <br>
        <img class = "image-avatar" src=<%= current_user.profile_pic%>>
        <br>
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= current_user.first_name %></dd>
          <br>
          <dt>Email</dt>
          <dd><%= current_user.email %></dd>
          <br>
          <dt>University</dt>
          <dd><%= current_user.university %></dd>
          <br>
          <dt>Introduction</dt>
          <dd><%= current_user.introduction %></dd>
        </dl>

        <div class="panel-icons">
            <a href="#" class="btn btn-warning">
              Edit Account
              <i class="fa fa-edit"></i>
            </a>
          </td>
          <td>
            <a href="#" class="btn btn-danger">
              Delete Account
              <i class="fa fa-trash-o"></i>
            </a>
          </td>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">My Apartments</h3>
      </div>
    </div>

    <% current_user.apartments.each do |apartment| %>
    <div class="entry-container">

      <div class = "entry-left-user">
          <ul>
            <li>
              <img class="image-listing" src=<%= apartment.pictureurl %>>
              <div class="clearfix"></div>
            </li>
          </ul>
      </div>

      <div class = "entry-mid-user">
        <h2><%= apartment.headline%></h2>
          <div class = "entry-edit-left">
          <ul>
            <li>
              <div class="entry-neighborhood">
                <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                <%= apartment.neighborhood%>
                </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="entry-type">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                <%= apartment.apttype %> (<%= apartment.size %>)
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="entry-period">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <%= apartment.startdate %> - <%= apartment.enddate %>
              </div>
              <div class="clearfix"></div>
            </li>
          </div>
        </ul>
        <div class = "entry-edit-right">
          <div class = "entry-edit-bottom">
            <a href="/apartments/<%= apartment.id %>" class="btn btn-primary btn-xs"><i class="fa fa-search-plus"></i></a>
            <a href="/apartments/<%= apartment.id %>/edit" class="btn btn-warning btn-xs"><i class="fa fa-edit"></i></a>
            <a href="/delete_apartment/<%= apartment.id %>" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

<!--   <div class = "user-footer">
    <a href="/apartments/new" class="btn btn-success">List New Apartment</a>
  </div> -->

</div>
