<% if @apartment.errors.any? %>
  <% @apartment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h1>Edit Listing</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_apartment/<%= @apartment.id %>" class="form-horizontal">

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <form action="/create_apartment" class="form-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">The Essentials</h3>
        </div>
        <div class="panel-body">
          <!-- Label and input for apttype -->
          <div class="form-group">
            <label for="apttype" class="col-sm-2 control-label">
              Type
            </label>
            <div class="col-sm-10">
              <select class="form-control" id="apttype" name="apttype"><%= @apartment.apttype %>
                <option>Entire Apartment</option>
                <option>Private Room</option>
              </select>
            </div>
          </div>

          <!-- Label and input for size -->
          <div class="form-group">
            <label for="size" class="col-sm-2 control-label">
              Size
            </label>
            <div class="col-sm-10">
              <select class="form-control" id="size" name="size"><%= @apartment.size %>
                <option>Studio</option>
                <option>1BR</option>
                <option>2BR</option>
                <option>3BR+</option>
              </select>
            </div>
          </div>

          <!-- Label and input for price -->
          <div class="form-group">
            <label for="price" class="col-sm-2 control-label">
              Monthly Price
            </label>
            <div class="col-sm-10">
              <input type="number" id="price" name="price" class="form-control" placeholder="No decimals please" value="<%= @apartment.price %>">
            </div>
          </div>

          <!-- Label and input for startdate -->
          <div class="form-group">
            <label for="startdate" class="col-sm-2 control-label">
              Available from
            </label>
            <div class="col-sm-10">
              <input type="text" id="startdate" name="startdate" class="form-control" value="<%= @apartment.startdate %>">
            </div>
          </div>

          <!-- Label and input for enddate -->
          <div class="form-group">
            <label for="enddate" class="col-sm-2 control-label">
              Available till
            </label>
            <div class="col-sm-10">
              <input type="text" id="enddate" name="enddate" class="form-control" value="<%= @apartment.enddate %>">
            </div>
          </div>

          <!-- Label and input for neighborhood -->
          <div class="form-group">
            <label for="neighborhood" class="col-sm-2 control-label">
              Neighborhood
            </label>
            <div class="col-sm-10">
              <%= select_tag("neighborhood", options_from_collection_for_select(Neighborhood.all.order("name ASC"), "id", "name"),{ :class => 'form-control'}) %>
            </div>
          </div>
        </div>
      </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Where exactly do you live?</h3>
      </div>
      <div class="panel-body">
          <!-- Label and input for streetadd -->
          <div class="form-group">
            <label for="streetadd" class="col-sm-2 control-label">
              Street Address
            </label>
            <div class="col-sm-10">
              <input type="text" id="streetadd" name="streetadd" class="form-control" value=<%= @apartment.streetadd %>>
            </div>
          </div>

          <!-- Label and input for unit -->
          <div class="form-group">
            <label for="unit" class="col-sm-2 control-label">
              Apartment No.
            </label>
            <div class="col-sm-10">
              <input type="text" id="unit" name="unit" class="form-control" value=<%= @apartment.unit %>>
            </div>
          </div>

          <!-- Label and input for city -->

          <input type="hidden" id="city" name="city" value="Chicago"><%= @apartment.city %>
          <input type="hidden" id="state" name="state" value="IL"><%= @apartment.state %>

          <!-- Label and input for zip -->
          <div class="form-group">
            <label for="zip" class="col-sm-2 control-label">
              Zipcode
            </label>
            <div class="col-sm-10">
              <input type="number" id="zip" name="zip" class="form-control" value="<%= @apartment.zip %>">
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">What amentities are there?</h3>
        </div>
        <div class="panel-body">
          <!-- Label and input for furnished -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="furnished">
                  <input type="checkbox" id="furnished" name="furnished" value="1" <%= "checked" if @apartment.furnished %>>
                  Furnished
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for ac -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="ac">
                  <input type="checkbox" id="ac" name="ac" value="1" <%= "checked" if @apartment.ac %>>
                  Air-conditioning
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for gym -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="gym">
                  <input type="checkbox" id="gym" name="gym" value="1" <%= "checked" if @apartment.gym %>>
                  Gym
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for pool -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="pool">
                  <input type="checkbox" id="pool" name="pool" value="1" <%= "checked" if @apartment.pool %>>
                  Pool
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for doorman -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="doorman">
                  <input type="checkbox" id="doorman" name="doorman" value="1" <%= "checked" if @apartment.doorman %>>
                  Doorman
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for elevator -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="elevator">
                  <input type="checkbox" id="elevator" name="elevator" value="1" <%= "checked" if @apartment.elevator %>>
                  Elevator
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for internet -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="internet">
                  <input type="checkbox" id="internet" name="internet" value="1" <%= "checked" if @apartment.internet %>>
                  Internet
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for cable -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="cable">
                  <input type="checkbox" id="cable" name="cable" value="1" <%= "checked" if @apartment.cable %>>
                  Cable
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for laundryu -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="laundryu">
                  <input type="checkbox" id="laundryu" name="laundryu" value="1" <%= "checked" if @apartment.laundryu %>>
                  Laundry in unit
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for laundryb -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="laundryb">
                  <input type="checkbox" id="laundryb" name="laundryb" value="1" <%= "checked" if @apartment.laundryb %>>
                  Laundry in building
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Describe your apartment</h3>
      </div>
      <div class="panel-body">

          <!-- Label and input for headline -->
          <div class="form-group">
            <label for="headline" class="col-sm-2 control-label">
              Headline
            </label>
            <div class="col-sm-10">
              <textarea id="headline" name="headline" placeholder="Headline" class="form-control" rows="1"><%= @apartment.headline %></textarea>
            </div>
          </div>

          <!-- Label and input for description -->
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">
              Description
            </label>
            <div class="col-sm-10">
              <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @apartment.description %></textarea>
            </div>
          </div>

          <!-- Label and input for pictureurl -->
          <div class="form-group">
            <label for="pictureurl" class="col-sm-2 control-label">
              Picture URL
            </label>
            <div class="col-sm-10">
              <input type="url" id="pictureurl" name="pictureurl" class="form-control" rows="1" value=<%= @apartment.pictureurl %>>
            </div>
          </div>

          <!-- Label and input for member_id -->
          <div class="form-group">
            <label for="user_id" class="col-sm-2 control-label">
              User ID
            </label>
            <div class="col-sm-10">
              <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :last_name, @apartment.user_id), :class => "form-control") %>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-icons">
          <input type="submit" value="Submit Changes" class="btn btn-warning">

          <a href="/delete_apartment/<%= @apartment.id %>" class="btn btn-danger">
            Remove Listing
            <i class="fa fa-trash-o"></i>
          </a>
      </div>
    </form>
  </div>
</div>
