<div class="page-header">
  <h1>Apartments</h1>
</div>

<p><a href="/apartments/new" class="btn btn-primary">Add a New Apartment</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Apttype</th>
      <th>Size</th>
      <th>Price</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Neighborhood</th>
      <th>Streetadd</th>
      <th>Unit</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Furnished</th>
      <th>Ac</th>
      <th>Gym</th>
      <th>Pool</th>
      <th>Doorman</th>
      <th>Elevator</th>
      <th>Internet</th>
      <th>Cable</th>
      <th>Laundryu</th>
      <th>Laundryb</th>
      <th>Headline</th>
      <th>Description</th>
      <th>Pictureurl</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.apttype %></td>
        <td><%= apartment.size %></td>
        <td><%= apartment.price %></td>
        <td><%= apartment.startdate %></td>
        <td><%= apartment.enddate %></td>
        <td><%= apartment.neighborhood %></td>
        <td><%= apartment.streetadd %></td>
        <td><%= apartment.unit %></td>
        <td><%= apartment.city %></td>
        <td><%= apartment.state %></td>
        <td><%= apartment.zip %></td>
        <td><%= apartment.furnished %></td>
        <td><%= apartment.ac %></td>
        <td><%= apartment.gym %></td>
        <td><%= apartment.pool %></td>
        <td><%= apartment.doorman %></td>
        <td><%= apartment.elevator %></td>
        <td><%= apartment.internet %></td>
        <td><%= apartment.cable %></td>
        <td><%= apartment.laundryu %></td>
        <td><%= apartment.laundryb %></td>
        <td><%= apartment.headline %></td>
        <td><%= apartment.description %></td>
        <td><%= apartment.pictureurl %></td>
        <td><%= apartment.user_id %></td>
        <td>
          <a href="/apartments/<%= apartment.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/apartments/<%= apartment.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_apartment/<%= apartment.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

