

<body>
  <div class="content-container">

    <div class="column7">

      <div class="page-header">
        <h1>Apartments</h1>
      </div>

      <% @apartments.each do |apartment| %>

        <div class="entry-container">

          <div class = "entry-left">
              <ul>
                <li>
                  <img class="image-listing" src=<%= apartment.pictureurl %>>
                  <div class="clearfix"></div>
                </li>
              </ul>
          </div>

          <div class = "entry-mid">
            <h2><%= apartment.headline%></h2></a>
            <ul>
              <li>
                <div class="entry-neighborhood">
                  <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                  <%= apartment.neighborhood%>
                  </div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="entry-type">
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                  <%= apartment.apttype %> (<%= apartment.size %>)
                </div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="entry-period">
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                  <%= apartment.startdate %> - <%= apartment.enddate %>
                </div>
                <div class="clearfix"></div>
              </li>
            </ul>
          </div>

          <div class = "entry-right">
            <h3>$<%= apartment.price %></h3>
            <h4>per month</h4>
          </div>

        </div>
      <% end %>

      <p><a href="/apartments/new" class="btn btn-primary">Add a New Apartment</a></p>
    </div>

    <div class="column3-padding">
      <div class="page-header">
        <h1>Filter Listings</h1>
      </div>
      <div class="filter-container">
<!--         <div class="subcolumn3"> -->

          <%= search_form_for @search do |f| %>
            <div class="form-group">

              <%= f.label :startdate_gteq, "From:" %>
              <%= f.search_field :startdate_lteq, :id => "startdate_f", :class => "form-control"  %>

              <%= f.label :enddate_gteq, "To:" %>
              <%= f.search_field :enddate_gteq, :id => "enddate_f", :class => "form-control"  %>

              <%= f.label :price_lteq, "Your Monthly Budget:" %>
              <%= f.search_field :price_lteq, :class => "form-control" %>

              <%= f.label :apttype, "Apartment Type:" %>
              <%= f.select :apttype, ["Entire Apartment", "Private Room"], { :include_blank=>true }, { :class => "form-control" } %>

              <%= f.label :size, "Size:" %>
              <%= f.select :size, ["Studio", "1BR", "2BR", "3BR+"], { :include_blank=>true }, { :class => "form-control" } %>

              <%= f.label :neighborhood_eq, "Neighborhood:" %>
              <%= f.select :neighborhood_eq, options_from_collection_for_select(Neighborhood.all, "id", "neighborhood"), { :include_blank=>true }, { :class => "form-control" } %>
            </div>

            <div class="form-group">
              <%= f.submit "Filter", :class => "btn btn-primary" %>
            </div>

          <% end %>

      </div>
    </div>
  </div>
</body>


