

<body>
  <div class="content-container">

    <div class="column6">

      <div class="page-header">
        <h1>Apartments</h1>
      </div>

      <% @apartments.each do |apartment| %>

        <div class="entry-container">

          <div class = "entry-left">
              <ul>
                <li>
                  <img class="image-listing" src=<%= apartment.pictureurl %>>
                  <div class="clearfix"></div>
                </li>
              </ul>
          </div>

          <div class = "entry-mid">
            <h2><%= apartment.headline%></h2></a>
            <ul>
              <li>
                <div class="entry-neighborhood">
                  <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                  <%= apartment.neighborhood%>
                  </div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="entry-type">
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                  <%= apartment.apttype %> (<%= apartment.size %>)
                </div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="entry-period">
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                  <%= apartment.startdate %> - <%= apartment.enddate %>
                </div>
                <div class="clearfix"></div>
              </li>
            </ul>
          </div>

          <div class = "entry-right">
            <h3>$<%= apartment.price %></h3>
            <h4>per month</h4>
          </div>

        </div>
      <% end %>

      <p><a href="/apartments/new" class="btn btn-primary">Add a New Apartment</a></p>
    </div>

    <div class="column4-padding">
      <div class="page-header">
        <h1>Filter Listings</h1>
      </div>
      <div class="filter-container">
        <div class="subcolumn3">

          <%= search_form_for @search do |f| %>
            <div class="field">
              <%= f.label :neighborhood_cont, "Neighborhood" %>
              <%= f.text_field :neighborhood_cont, :class => "form-control" %>

              <%= f.select :neighborhood_cont, ["1", "2", "3"] %>
            </div>
            <div class="actions"><%= f.submit "Filter" %></div>
          <% end %>

          <br>
          <ul>
            <li>Dates:</li>
            <br>
            <li>Price:</li>
            <br>
            <li>Neighborhood:</li>
            <li>Room Type:</li>
            <br><br>
            <li>Features:</li>
          </ul>
        </div>

        <div class="subcolumn7">
          <input type="text" id="datepicker">

        </div>
      </div>
    </div>
  </div>
</body>



