<div class="page-header">
  <h1>Apartment #<%= @apartment.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Apttype</dt>
  <dd><%= @apartment.apttype %></dd>

  <dt>Size</dt>
  <dd><%= @apartment.size %></dd>

  <dt>Price</dt>
  <dd><%= @apartment.price %></dd>

  <dt>Startdate</dt>
  <dd><%= @apartment.startdate %></dd>

  <dt>Enddate</dt>
  <dd><%= @apartment.enddate %></dd>

  <dt>Neighborhood</dt>
  <dd><%= @apartment.neighborhood %></dd>

  <dt>Streetadd</dt>
  <dd><%= @apartment.streetadd %></dd>

  <dt>Unit</dt>
  <dd><%= @apartment.unit %></dd>

  <dt>City</dt>
  <dd><%= @apartment.city %></dd>

  <dt>State</dt>
  <dd><%= @apartment.state %></dd>

  <dt>Zip</dt>
  <dd><%= @apartment.zip %></dd>

  <dt>Furnished</dt>
  <dd><%= @apartment.furnished %></dd>

  <dt>Ac</dt>
  <dd><%= @apartment.ac %></dd>

  <dt>Gym</dt>
  <dd><%= @apartment.gym %></dd>

  <dt>Pool</dt>
  <dd><%= @apartment.pool %></dd>

  <dt>Doorman</dt>
  <dd><%= @apartment.doorman %></dd>

  <dt>Elevator</dt>
  <dd><%= @apartment.elevator %></dd>

  <dt>Internet</dt>
  <dd><%= @apartment.internet %></dd>

  <dt>Cable</dt>
  <dd><%= @apartment.cable %></dd>

  <dt>Laundryu</dt>
  <dd><%= @apartment.laundryu %></dd>

  <dt>Laundryb</dt>
  <dd><%= @apartment.laundryb %></dd>

  <dt>Headline</dt>
  <dd><%= @apartment.headline %></dd>

  <dt>Description</dt>
  <dd><%= @apartment.description %></dd>

  <dt>Pictureurl</dt>
  <dd><%= @apartment.pictureurl %></dd>

  <dt>User</dt>
  <dd><%= @apartment.user_id %></dd>

</dl>
