<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chicago Subs</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/yeti/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 60px;
    }
  </style>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAj_NDdLbBs7npzMT1e2nVQ_jAM3tyAif4"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <!-- Javascript for Google Maps -->
  <script>
    function initialize() {
      var myLatlng = new google.maps.LatLng(<%=@the_latitude%>, <%=@the_longitude%>);
      var mapOptions = {
        zoom: 15,
        center: myLatlng
      }
      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Hello World!'
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>



  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Chicago Subs</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/apartments">See All Listings</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      &nbsp; &nbsp; &nbsp; &nbsp;
        <% if current_user.present? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <img class = "image-avatar-small" src=<%= current_user.profile_pic %>>&nbsp;
            <%= current_user.first_name %>&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/users/dashboard">My Dashboard</a></li>
              <li><a href="/users/edit_profile">Edit Profile</a></li>
              <li><a href="/users/edit">Change Password</a></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
              <li class="divider"></li>
              <li><%= link_to 'Delete account', registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %></li>
            </ul>
          </li>
        <li><div="list-button"><a href="/apartments/new" class="btn btn-primary btn-xs">List New Apartment</a></div></li>


        <% else %>
          <li><a href="/users/sign_up">Sign up</a></li>
          <li><a href="/users/sign_in">Sign in</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </div>

<!-- Script for datepicker -->

  <script>
  $(function() {
    $( "#startdate,#enddate,#startdate_f,#enddate_f" ).datepicker({
    dateFormat: "yy-mm-dd"});
  });
  </script>

</body>
</html>



